app/static/
app/media/
data/*
app/venv/*

# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Backup files #
*.bak

# Python #
*.py[cod]
*$py.class

# Visual Studio Code #
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history